.JobCard {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-decoration: none;
  color: black;
  @include paper(1.5rem);

  @include media-query($medium-up) {
    grid-template-columns: max-content 30% 2fr 1fr;
  }

  &:visited {
    color: black;
  }

  &._default {
    &:hover {
      background-color: v(theme-bg-2);
    }
  }

  &._focused {
    border: 1px solid v(theme-color-2);
  }

  &._highlighted {
    background-color: #fffdd0;
  }

  & h2,
  & h3 {
    margin: 0;
  }

  &__companyLink {
    color: black;

    &:hover {
      color: v(theme-primary-color);
    }
  }

  &__tags {
    @include media-query($small) {
      order: 4;
      grid-column: 2 / 3;
      font-size: 0.6em;
    }

    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
  }

  &__tag {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 0 4px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);

    &:hover {
      background-color: v(theme-bg-2);
    }

    &._primary {
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  &__applyButton {
    @include media-query($small) {
      order: 3;
      grid-column: 1 / 2;
    }

    cursor: pointer;
    display: inline-block;
    z-index: 2;

    width: 100%;
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    background-color: v(theme-primary-color);
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__initialsWrap {
    box-sizing: content-box;
    width: 80px;
    height: 80px;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__initials {
    height: 100%;
    width: 100%;
    color: rgba(238, 197, 150, 0.767);
    font-size: 3.3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
