.Select {
    cursor: pointer;
    display: block;
    background-color: #fff;
    font: inherit;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}